.plans-container {
  margin-top: 2rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  position: relative;
}
.plans {
  display: flex;
  align-items: center;

  justify-content: center;
  gap: 3rem;
}
.plan {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  height: fit-content;
  color: white;
  background: #212529;
  gap: 2rem;
  padding: 1.5rem;
  max-width: 25rem;
  /* height: 45rem;
  overflow: auto; */
}
.features {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: relative;
  text-align: end;
}
.features img {
  width: 1rem;
  position: absolute;
  right: 0;
  top: -40px;
}
.plan:nth-child(2) {
  background: linear-gradient(210.41deg, #e7f5ff 1.14%, #1864ab 100.75%);
  transform: scale(1.1);
}
.plan > svg {
  fill: red;
  width: 2rem;
  height: 2rem;
}
.plan > :nth-child(2) {
  font-size: 1rem;
  font-weight: bold;
}
.plan:nth-child(2) > svg {
  fill: white;
}
.plan > :nth-child(3) {
  font-size: 2.4rem;
  font-weight: bold;
}
.btn {
  background-color: white;
  color: black;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 20px;
  font-weight: bold;
}
.plans-blur-1 {
  width: 23rem;
  height: 23rem;
  background: #c92a2a;
  top: 6rem;
  left: 0rem;
}

.plans-blur-2 {
  width: 23rem;
  background: #1864ab;
  height: 23rem;
  top: 10rem;
  right: 0;
}
@media screen and (max-width: 977px) {
  .plans {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .plans > :nth-child(2) {
    transform: none;
  }
  .plans-blur-1 {
    display: none;
  }

  .plans-blur-2 {
    display: none;
  }
}
